/include/ "system-conf.dtsi"
/ {
   reserved-memory {
      address-cells = <1>;
      size-cells = <1>;
      ranges;

      reserved: buffer@0x1E000000 {
         no-map;
         reg = <0x1E0A0000 0x2000000>;
      };
   };

   chosen {
      address-cells = <1>;
      size-cells = <1>;
      ranges;

      framebuffer@1E000000 {
         compatible = "simple-framebuffer";
         reg = <0x1E000000 (640*480*2)>;
         width = <640>;
         height = <480>;
         stride = <(640*2)>;
         format = "r5g6b5";
	     status = "okay";
      };
   };

   reserved-driver@0 {
      compatible = "xlnx,reserved-memory";
      memory-region = <&reserved>;
   };

   usb_phy0: usb_phy@0 {
      compatible = "ulpi-phy";
      #phy-cells = <0>;
      reg = <0xe0002000 0x1000>;
      view-port = <0x0170>;
      drv-vbus;
   };
};

&usb0 {
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};

&gem0 {
    phy-handle = <&phy1>; // Assuming your PHY is connected to gem0
    ps7_ethernet_0_mdio: mdio {
        phy1: phy@1 {
            device_type = "ethernet-phy";
        };
    };
};
